---
###
### Install/Upgrade vulkan-sdk
###
- name: query local vulkan-sdk version
  ansible.builtin.shell:
    chdir: "{{ vulkansdk_path }}"
    cmd: ls -1d [1-9]*.[0-9]*.[0-9]*.[0-9]* | sort -V | tail -n 1
  register: local_sdk
  changed_when: false
  failed_when: false

- name: query latest vulkan-sdk version
  uri:
    url: https://vulkan.lunarg.com/sdk/latest/linux.txt
    return_content: true
  register: online_sdk
  changed_when: false
  failed_when: "online_sdk is failed"

- block:
    - name: debug message
      ansible.builtin.debug:
        msg: "UPGRADE! current version is {{ local_sdk.stdout }}, new version is {{ online_sdk.content }}"
    - name: configure archive filename
      set_fact:
        sdk_archive: "/tmp/vulkansdk-linux-x86_64-{{ online_sdk.content }}.tar.xz"
    - name: create installation directory
      file:
        path: "{{ vulkansdk_path }}"
        state: directory
    - name: download vulkan-sdk
      get_url:
        dest: "{{ sdk_archive }}"
        url: "https://sdk.lunarg.com/sdk/download/{{ online_sdk.content }}/linux/vulkan_sdk.tar.xz"
        force: false
    - name: unpack vulkan-sdk
      unarchive:
        remote_src: true
        dest: "{{ vulkansdk_path }}"
        src: "{{ sdk_archive }}"
      changed_when: true
      ignore_errors: '{{ ansible_check_mode }}'
    - name: uninstall previous version of vulkan-sdk
      file:
        state: absent
        path: "{{ vulkansdk_path }}/{{ local_sdk.stdout }}"
      when:
        uninstall_previous_version is true and
        local_sdk.stdout | length > 0 and
        vulkansdk_path | length > 0 and
        local_sdk.stdout is version(online_sdk.content, '!=')
    - name: remove vulkan-sdk archive
      file:
        state: absent
        path: "{{ sdk_archive }}"
    - name: setup vulkan-sdk env
      copy:
        content: "source {{ vulkansdk_path }}/{{ online_sdk.content }}/setup-env.sh"
        dest: /etc/profile.d/vulkan-sdk.sh
  when:
    local_sdk.rc != 0 or
    local_sdk.stdout is version(online_sdk.content, '<')
